
  <div class="main {{goodEvil}}">
    <div class="col-sm-12 center">
      <h1>Responses</h1>
    </div>
    <div class="col-sm-4 center">
      <h3>Likes</h3>
      <ol>
        <li class="{{textcolor1}}">{{favoritecolor}}</li>
        <li>{{favoritefood}}</li>
        <li>{{favoriteanimal}}</li>
      </ol>
    </div>
    <div class="col-sm-4 center">
      <h3>Suitable Jobs for {{goodEvil}} People:</h3>
      <ul>
        <li>{{job1}}</li>
        <li>{{job2}}</li>
      </ul>
    </div>
    <div class="col-sm-4 center">
    <h3>Dislikes</h3>
      <ol>
        <li class="{{textcolor2}}">{{worstcolor}}</li>
        <li>{{worstfood}}</li>
        <li>{{worstanimal}}</li>
      </ol>
    </div>
    <div class="col-sm-12 center">
    <img height="100px" src="{{image}}" />
    </div>
    <div class="col-sm-6 center">
      <h3>Biography</h3>
      <p> {{bio}} </p>
    </div>
    <div class="col-sm-6 center">
      <h3>You are this insane: </h3>
      <img height="100px" src="{{insanityimage}}" />
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script>
      function outputUpdate(vol) {
      	document.querySelector('#volume').value = vol;
      }
    </script>
  </div>
